<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
</head>
<body>
    <img src="{{ avatar|default('https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3541187960,3361239487&fm=26&gp=0.jpg') }}" alt="加载失败">
    <HR>
    <p>评论数：（{{ comments|length }}）</p>
    <ul>
        {% for comment in comments %}
            <li>
                <a href="#">{{ comment.user }}</a>
                <p>{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>