{% extends 'hello_bootstrap.html' %}

{% block content %}

    <div class="container">

        {% for message in get_flashed_messages() %}
            <h3>{{ message }}</h3>
        {% endfor %}





    <form action="{{ url_for('first_blue.user_login') }}" method="post">

        <span>用户名：</span><input type="text" name="username" placeholder="请输入用户名">
        <br>
        <span>密码：</span><input type="password" name="password" placeholder="请输入密码">
        <br>
        <input type="submit" value="登陆">

    </form>
    </div>
{% endblock %}